
<div class="load card">
    <div  class="row galeria">
        <div class="col-md-12">
            <h2 class="titulo">Galeria</h2>
            <span>Puede incluir una galeria de imagenes</span>
        </div>
 
       <div class="col-md-12 galery">
          <!-- ============================================================== -->
          <!-- ------------------------- galeria --------------- -->
          <!-- ============================================================== -->
           <div  *ngIf="load" >
            <div class="row el-element-overlay">
                   <div class="mostrargaleria" [hidden]="!galeria">
                    <div class="col-md-3" *ngFor="let image of imagenes">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1 itm"> 
                                <img class="imageG" [src]="image" alt="user">
                                <div class="el-overlay">
                                    <ul class="el-info">
                                        <li>
                                             <a (click)=" eliminarImagen(image)" 
                                             class="btn default btn-outline">
                                                 <i class="fa fa-cloud-upload">
                                                 </i>
                                             </a>
                                        </li>
                                        <!-- <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <input (change)="manejarImagen($event)" type="file" name="file" id="file" class="inputfile" />
                    <label for="file">upload</label> 
                   </div>  
            
           </div>         
       </div>               
          <!-- ============================================================== -->
          <!-- ---------------fin galeria --------------------------- -->
          <!-- ==============================================================-->
       </div>
   
   </div>

   <div class="row">
       <div class="col-md-9 col-sm-12">
   
          <!-- cuerpo del post -->
          <div class="row">
              <!-- titulo del post -->
              <div class="col-md-12">
               <h2 class="titulo">Titulo</h2>
            </div>
              <div class="col-md-12">
                <div class="form-group m-b-40">
                    <input type="text" 
                    autocomplete="off" 
                       minlength="25"
                    required
                    name="titulo"
                     [(ngModel)]="titulo"
                    class="form-control"
                    placeholder="inspirate">
                    <!-- <span class="bar"></span> -->
                    <!-- <label for="input1">Inspirate</label> -->
                </div>
              </div>
              <!-- titulo del post -->
              <!-- categoria del post -->
              <!-- categoria del post -->
              <div class="col-md-12">
                <h2 class="titulo">Categoria</h2>
             </div>
               <div class="col-md-3">
                    <form #f="ngForm"
                     class="floating-labels">
                        <div class="form-group m-b-40">
                           <select 
                           required
                           class="form-control"
                           name="titulo"
                           [(ngModel)]="categoria">
                           <option 
                           *ngFor="let cat of categorias"
                           value="{{cat._id}}">
                          {{cat.nombre}}
                         </option>
                         </select>
                        </div>
                    </form>   
               </div>
               <!-- categoria del post -->
        
              <!-- categoria del post -->
       
              <div class="col-md-12">
                  <h2 class="titulo">Cuerpo del post</h2>
               </div>
               <div class="col-12">
                   <div class="card">
                       <div class="card-body">
                           <div [froalaEditor]="options" [(froalaModel)]="editorContent" class="editor">
                           </div>
                       </div>
                   </div>
               </div>
           </div> 
           <!-- cuerpo del post -->
           <!-- extracto del post -->
           <div class="row">
               <div class="col-md-12">
                   <h2 class="titulo">extracto del post</h2>
               </div>
               <div class="col-12">
                   <div class="card">
                       <div class="card-body">
                          <textarea
                           [(ngModel)]="extracto"
                           required
                          class="form-control" style="height:  35vh;" ></textarea>
                       </div>
                   </div>
               </div>
               <div class="col-md-12">
                         <!-- parte de los tags -->
              <div class="row">
                 <div class="col-12">
                     <h2 class="titulo">Keywords</h2>
                     <div class="card">
                         <div class="car-header">
                             <input
                             #tag
                             (keyup.space)="agregarTag(tag)" 
                             type="text"  class="form-control" placeholder="escribe tu tags">
                        
                          </div>
                         <div class="card-body">
                           <div class="tags-default pb-3">
                               <span
                               *ngFor="let tag of tags" 
                               class="tag label label-info"
                                (click)="eliminarTag(tag)">
                                  {{tag}}
                                   <span data-role="remove"></span>
                               </span>
                           </div>
                         </div>
                     </div>
                 </div>
               </div> 
               <!-- parte de los tags -->
               </div>
             </div> 
           <!-- extracto del post -->
         
           <div class="row">
              <!-- <div class="col-sm-12 col-md-5">
               <button class="btn btn-danger btn-block" >
                   salir
             </button>
              </div> -->
              <div class="col-md-5">
               <button 
               (click)="guardarContenido()" 
              class="btn btn-primary btn-block" >
                      guardar
              </button>
              </div>
           </div>
       </div>
      <div class="col-md-2 col-sm-12">
      <!-- opciones -->
      <div class="ctrl">
        <strong>Incluir galeria</strong>
        <input type="checkbox" class="demo" [(ngModel)]="galeria">
      </div>
       </div>
   
</div>