*{
     padding: 0;
     margin: 0;
  }
  :root{
     /*theme colors*/
    --text-gray:  #3f4954;
    --text-light : #686666da;
    --bg-color :  #0f0f0f;
    --white :  #ffffff;
    --midnight : #104f55;
    /*gradients*/
    --gadrientbage : rgba(252,234,187,1);;
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);    /*theme fonts*/
      --Abel: 'Abel', sans-serif;
      --Anton : 'Anton', sans-serif;
      --Josefin : 'Josefin Sans', sans-serif;
      --lexen : 'Lexend Deca', sans-serif;
      --livvic :  'Livvic', sans-serif;
  }
 
  
  a{
     text-decoration: none;
  }
  .s-content{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 18px;
      padding: 10px 10px;
      background: white !important;
      /* justify-content: center; */
      /* background: blue; */
     justify-content: center;
      /* width:  100%; */
      overflow-y : hidden;
      background: var(--bg-color);
     }
  
  .s-content .post{
    /* margin-top: 20px; */
    margin: 20px 10px;
    width: 30%;
    background: white;
    box-shadow: 0 15px 20px  rgba(0, 0, 0, 0.2);
  
  }
  .s-content .post .thumb {
     width: 100%;
  }
  .s-content .post .thumb a{
   width: 100%;  
   /* position: relative; */
  }
  .s-content .post .thumb a img{
     transition: all 1s ease;
     /* height: 60vh; */
     width: 100%;
     vertical-align: top;
  }
  .s-content .post .thumb{
     width: 100%;
     overflow: hidden;
  }
  
  .s-content .post .thumb a img:hover{
     transform: scale(1.3); 
  }
  
  
  /*=====  End of contenido del blog  ======*/
  
  .s-content .post .blog_content{
      padding: 1.5rem 12px;
  }
  .s-content .post .blog_content .card_header .date a{
     color: var(--text-gray);
     font-family: var(--Josefin);
     font-size: 1rem;
     padding-top: 10px;
  }
  .s-content .post .blog_content .card_header .title{
     text-align: left;
     padding-left: 10px;
     margin-top: 10px;
     margin-bottom: 20px;
     padding-bottom: 10px;
     border-left: 4px solid transparent;
     border-bottom: 4px solid transparent;
  }

  .s-content .post .blog_content .card_header .title a{
     color: var(--bg-color);
     font-family: var(--livvic);
     display: block;
      padding-top: 20px;
     font-size: 1.3rem;
  }
  .s-content .post .blog_content .card_header .title a:hover{
     /* transform: scale(1.3);   */
     color: black;
  }
  .s-content .post .blog_content .extracto p{
     font-size: 1.3rem; 
     line-height:  1.8rem;
     font-family: var(--Abel);
     font-weight: 400;
     padding-bottom: 15px;
  }
  .s-content .post .blog_content .meta {
     padding-top: 1rem;
  }
  .s-content .post .blog_content .meta .links .bage{
      background:orange;
      color: black;
      font-size: 1rem;
      font-family: 'Nunito Sans' ;
      padding: 0.5rem 1rem;
      margin: 0 10px;
      border-radius: 5%;
  }