<!-- 
        
    <div class="contenedor">
           
        <article class="standar"  data-aos="fade-up" *ngFor="let post of posts">
                    
                <div class="imagen ">
                    <a  class="">
                        <img [src]="post.images | imageT:0" >      <!-- [srcset]="post.images | imageT:0 + '1x,' + post.images | imageT:1 +'2x'"  -->
                    <!-- </a>
                </div>

                <div class="cuerpo">
                    <div class="header">
                        <div class="date">
                            <a>December 15, 2017</a>
                        </div>
                        <h1 class=""><a href="single-standard.html">Just a Standard Format Post.</a></h1>
                        
                     
                    </div>
                    <div class="extracto">
                        <p>
                            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                        </p>
                    </div>
                    <div class="">
                        <span class="">
                            <a href="category.html">Design</a> 
                            <a href="category.html">Photography</a>
                        </span>
                    </div>
                </div>

        </article>


    </div>  -->
 -->

 <!-- <section class="s-content">       
    <div class="row">
        <div class="col-full">
            <nav class="pgn">
                <ul>
                    <li><a class="pgn__prev" href="#0">Prev</a></li>
                    <li><a class="pgn__num" href="#0">1</a></li>
                    <li><span class="pgn__num current">2</span></li>
                    <li><a class="pgn__num" href="#0">3</a></li>
                    <li><a class="pgn__num" href="#0">4</a></li>
                    <li><a class="pgn__num" href="#0">5</a></li>
                    <li><span class="pgn__num dots">…</span></li>
                    <li><a class="pgn__num" href="#0">8</a></li>
                    <li><a class="pgn__next" href="#0">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

</section>  -->
<section class="s-content">
        
 
          
    <article class="post " data-aos="fade-up" *ngFor="let post of posts">
            
        <div class="thumb">
            <a   class="entry__thumb-link">
                <img [src]="post.images | imageT:0"  alt="">
            </a>
        </div>

        <div class="blog_content">
            <div class="card_header">
                
                <div class="date">
                    <a href="single-standard.html">December 15, 2017</a>
                </div>
                <h1 class="title"><a href="single-standard.html">Just a Standard Format Post.</a></h1>
                
            </div>
            <div class="extracto">
                <p>
                    Lorem ipsum Sed eiusmod esse aliqua 
                    sed incididunt aliqua incididunt
                     mollit id et sit proident dolor
                      nulla sed commodo est ad minim
                      elit reprehenderit nisi officia aute
                       incididunt velit sint in aliqua...
                </p>
            </div>
            <div class="meta">
                <span class="links">
                    <a class="bage">Design</a> 
                    <a class="bage">Photography</a>
                </span>
            </div>
        </div>

    </article> 


 



<!-- <div class="row">
<div class="col-full">
    <nav class="pgn">
        <ul>
            <li><a class="pgn__prev" href="#0">Prev</a></li>
            <li><a class="pgn__num" href="#0">1</a></li>
            <li><span class="pgn__num current">2</span></li>
            <li><a class="pgn__num" href="#0">3</a></li>
            <li><a class="pgn__num" href="#0">4</a></li>
            <li><a class="pgn__num" href="#0">5</a></li>
            <li><span class="pgn__num dots">…</span></li>
            <li><a class="pgn__num" href="#0">8</a></li>
            <li><a class="pgn__next" href="#0">Next</a></li>
        </ul>
    </nav>
</div>
</div> -->

</section> <!-- s-content -->
