<footer class="s-footer">

    <div class="s-footer__main">
        <div class="row">
            
            <div class="col-two md-four mob-full s-footer__sitelinks">
                    
                <h4>{{footer.links.titulo}}</h4>

                <ul class="s-footer__linklist">
                    <li *ngFor="let link of footer.links.links" >
                        <a href="#0">{{link}}</a>
                    </li>
                 
                </ul>

            </div> <!-- end s-footer__sitelinks -->

            <div class="col-two md-four mob-full s-footer__archives">
                    
                <h4>{{footer.Archivos.titulo}}</h4>

                <ul class="s-footer__linklist">
                    <li *ngFor="let link of footer.Archivos.archivos" >
                        <a href="#0">{{link}}</a>
                    </li>
                </ul>

            </div> <!-- end s-footer__archives -->

            <div class="col-two md-four mob-full s-footer__social">
               
                <h4>{{footer.social.titulo}}</h4>

                <ul class="s-footer__linklist">
                    <li *ngFor="let link of footer.social.social" >
                        <a href="#0">{{link}}</a>
                    </li>
                </ul>

            </div> <!-- end s-footer__social -->

            <div class="col-five md-full end s-footer__subscribe">
                    
                <h4>{{footer.correo.titulo}}</h4>

                <p>{{footer.correo.texto}}</p>

                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
            
                        <input type="submit" name="subscribe" value="Send">
            
                        <label for="mc-email" class="subscribe-message"></label>
            
                    </form>
                </div>

            </div> <!-- end s-footer__subscribe -->

        </div>
    </div> <!-- end s-footer__main -->


</footer> <!-- end s-footer -->

