
	<!-- HEADER -->
	<header id="header">
		<!-- NAV -->
		<div id="nav">
			<!-- Top Nav -->
			<div>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
					   <h1 class="text-left titulo">Aquinomas</h1>
							<!-- <span>entretenimiento</span> -->
						</div> 
						 <div class="col-md-6">
							<div class="contS">
							   <a><i class="fas fa-search"></i></a>
							   <a class="bto" >
								   <i class="fas fa-envelope"></i>
								   Suscribe
							   </a>
							   <a  class="nav-aside-close" >
								   <i class="fas fa-bars"></i>
							   </a>
							</div>
					   </div>
				   </div>
					<div class="row menu">
					   <a href="">Tecnologia</a>
					   <a href="">Bienestar</a>
					   <a href="">reviews</a>
					   <a href="">Ciencia</a>
					</div>
				</div>
			</div>
			<div id="nav-aside">
				<ul class="nav-aside-menu">
					<li><a href="index.html">Home</a></li>
					<li class="has-dropdown"><a>Categories</a>
						<ul class="dropdown">
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Fashion</a></li>
							<li><a href="#">Technology</a></li>
							<li><a href="#">Travel</a></li>
							<li><a href="#">Health</a></li>
						</ul>
					</li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="contact.html">Contacts</a></li>
					<li><a href="#">Advertise</a></li>
				</ul>
				<button class="nav-close nav-aside-close"><span></span></button>
			</div>
			<!-- /Aside Nav -->
		</div>
		<!-- /NAV -->
	</header>
	<!-- /HEADER -->