	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div id="hot-post" class="row hot-post">
				<div class="col-md-8 hot-post-left">
					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="blog-post.html"><img src="assets/images/hot-post-1.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title title-lg"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
				<div class="col-md-4 hot-post-right">
					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="blog-post.html"><img src="assets/images/hot-post-2.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="blog-post.html"><img src="assets/images/hot-post-3.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Fashion</a>
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Recent posts</h2>
							</div>
						</div>
						<!-- post -->
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="blog-post.html"><img src="assets/images/post-1.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="category.html">Travel</a>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="author.html">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /post -->

						<!-- post -->
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="blog-post.html"><img src="assets/images/post-2.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="category.html">Technology</a>
										<a href="category.html">Lifestyle</a>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
									<ul class="post-meta">
										<li><a href="author.html">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /post -->

						<div class="clearfix visible-md visible-lg"></div>

						<!-- post -->
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="blog-post.html"><img src="assets/images/post-4.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="category.html">Health</a>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="author.html">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /post -->

						<!-- post -->
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="blog-post.html"><img src="assets/images/post-7.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="category.html">Health</a>
										<a href="category.html">Lifestyle</a>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="author.html">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /post -->
					</div>
					<!-- /row -->
						<!-- post -->
                 	<div class="post post-row">
		<a class="post-img" href="blog-post.html"><img src="assets/images/post-13.jpg" alt=""></a>
		<div class="post-body">
			<div class="post-category">
				<a href="category.html">Travel</a>
				<a href="category.html">Lifestyle</a>
			</div>
			<h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
			<ul class="post-meta">
				<li><a href="author.html">John Doe</a></li>
				<li>20 April 2018</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
		</div>
                 	</div>
                 	<!-- /post -->
                 
                 	<!-- post -->
                 	<div class="post post-row">
		<a class="post-img" href="blog-post.html"><img src="assets/images/post-1.jpg" alt=""></a>
		<div class="post-body">
			<div class="post-category">
				<a href="category.html">Travel</a>
			</div>
			<h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
			<ul class="post-meta">
				<li><a href="author.html">John Doe</a></li>
				<li>20 April 2018</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
		</div>
                 	</div>
                 	<!-- /post -->
                 
                 	<!-- post -->
                 	<div class="post post-row">
		<a class="post-img" href="blog-post.html"><img src="assets/images/post-5.jpg" alt=""></a>
		<div class="post-body">
			<div class="post-category">
				<a href="category.html">Lifestyle</a>
			</div>
			<h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
			<ul class="post-meta">
				<li><a href="author.html">John Doe</a></li>
				<li>20 April 2018</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
		</div>
                 	</div>
                 	<!-- /post -->
                 
                 	<!-- post -->
                 	<div class="post post-row">
		<a class="post-img" href="blog-post.html"><img src="assets/images/post-6.jpg" alt=""></a>
		<div class="post-body">
			<div class="post-category">
				<a href="category.html">Fashion</a>
				<a href="category.html">Lifestyle</a>
			</div>
			<h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
			<ul class="post-meta">
				<li><a href="author.html">John Doe</a></li>
				<li>20 April 2018</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
		</div>
                 	</div>
                 	<!-- /post -->
                 
                 	<!-- post -->
                 	<div class="post post-row">
		<a class="post-img" href="blog-post.html"><img src="assets/images/post-7.jpg" alt=""></a>
		<div class="post-body">
			<div class="post-category">
				<a href="category.html">Health</a>
				<a href="category.html">Lifestyle</a>
			</div>
			<h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
			<ul class="post-meta">
				<li><a href="author.html">John Doe</a></li>
				<li>20 April 2018</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
		</div>
                 	</div>
	            <!-- /post -->

             	<div class="section-row loadmore text-center">
             		<a href="#" class="primary-button">Load More</a>
			  </div>
			  	<!-- ad -->
			<div class="row section-row text-center">
				<a href="#" style="display: inline-block;margin: auto;">
					<img class="img-responsive" src="assets/images/ad-2.jpg" alt="">
				</a>
			</div>
			<!-- /ad -->
				</div>
              <!-- ============================================================== -->
              <!-- --------------------------aside html --------------- -->
              <!-- ============================================================== -->
            <div class="col-md-4">
				<app-sidebar></app-sidebar>
			</div>
<!-- ============================================================== -->
<!-- ---------------fin aside html --------------------------- -->
<!-- ==============================================================-->
           </div>
<!-- /row -->
</div>
<!-- /container -->
   </div>
    <!-- /SECTION -->

