<div class="contenedor">
    <div class="row">
        <div class="col-md-8 p-3">
            <div id="fotorama" *ngIf="imagenes" class="fotorama" data-width="100%" data-ratio="800/600"
                data-nav="thumbs" data-maxheight="70%" data-autoplay="true">
                <img *ngFor="let imagen of imagenes" [src]="imagen">
                <!-- <img src="assets/images/post-2.jpg">
          <img src="assets/images/post-3.jpg"> -->
            </div>
            <!-- post share -->
            <div class="section-row">
                <div class="post-share">
                    <a href="#" class="social-facebook"><i class="fab fa-facebook"></i><span>Share</span></a>
                    <a href="#" class="social-twitter"><i class="fab fa-twitter"></i><span>Tweet</span></a>
                    <a href="#" class="social-pinterest"><i class="fab fa-pinterest"></i><span>Pin</span></a>
                    <a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
                </div>
            </div>
            <!-- /post share -->
            <!-- post content -->
            <div class="section-row">
                <!-- <h3 *ngIf="post" class="tit">{{post.title}}</h3> -->
                <!-- aqui se renderizae el texto -->
                <div #texto></div>
            </div>
            <!-- /post content -->
            <!-- post tags -->
            <div class="section-row">
                <div>
                    <ul class="tags">
                        <li>TAGS : </li>
                        <li><a href="#">Social</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Health</a></li>
                    </ul>
                </div>
            </div>
            <!-- /post tags -->
    
      
            <!-- /post nav  -->
    
            <!-- /related post -->
            <div>
                <div class="section-title">
                    <h3 class="title">post recientes</h3>
                </div>
                <div class="row">
                    <!-- post -->
                    <div class="col-md-4" *ngFor="let post of postR">
                        <div class="post post-sm">
                            <a class="post-img"><img [src]="post.images[0].imagenes[0] | image " alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a >{{ this.postR[0]?.categoria}}</a>
                                </div>
                                <h3 class="post-title title-sm">
                                    <a >{{post.title || async}}</a>
                                    </h3>
                                <ul class="post-meta">
                                    <li><a >{{post.autor.nombre}}</a></li>
                                    <li>{{ post.fechaPublicacion || timeAgo }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
            </div>
            <!-- /related post -->
            <!-- post comments -->
            <div class="section-row">
                <div class="section-title">
                    <h3 class="title">3 Comments</h3>
                </div>
                <div class="post-comments">
                    <!-- comment -->
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="assets/images/avatar-2.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h4>John Doe</h4>
                                <span class="time">5 min ago</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a href="#" class="reply">Reply</a>
                            <!-- comment -->
                            <div class="media media-author">
                                <div class="media-left">
                                    <img class="media-object" src="assets/images/avatar-1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h4>John Doe</h4>
                                        <span class="time">5 min ago</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                    <a href="#" class="reply">Reply</a>
                                </div>
                            </div>
                            <!-- /comment -->
                        </div>
                    </div>
                    <!-- /comment -->
    
                    <!-- comment -->
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="assets/images/avatar-3.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h4>John Doe</h4>
                                <span class="time">5 min ago</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a href="#" class="reply">Reply</a>
                        </div>
                    </div>
                    <!-- /comment -->
                </div>
            </div>
            <!-- /post comments -->
    
            <!-- post reply -->
            <div class="section-row">
                <div class="section-title">
                    <h3 class="title">Leave a reply</h3>
                </div>
                <form class="post-reply">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="input" name="message" placeholder="Message"></textarea>
                            </div>
                        </div>
              
                        <div class="col-md-12">
                            <button class="primary-button">enviar</button>
                        </div>
    
                    </div>
                </form>
            </div>
            <!-- /post reply -->
        </div>
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
    
    
    </div>
</div>