
 <app-header *ngIf="load"></app-header>

<!-- ============================================================== -->
<!-- --------------------------pages routes --------------- -->
<!-- ============================================================== -->
<router-outlet *ngIf="load"></router-outlet>
			          
<!-- ============================================================== -->
<!-- ---------------fin pages routes --------------------------- -->
<!-- ==============================================================-->
 
	
<app-footer  *ngIf="load"></app-footer>