
 <app-header></app-header>

<!-- ============================================================== -->
<!-- --------------------------pages routes --------------- -->
<!-- ============================================================== -->
<router-outlet></router-outlet>
			          
<!-- ============================================================== -->
<!-- ---------------fin pages routes --------------------------- -->
<!-- ==============================================================-->
 
	
<app-footer></app-footer>