<div id="top" class="body">
    <!-- <app-navbar></app-navbar> -->
    
    <!-- pageheader
        ================================================== -->
        <section class="s-pageheader s-pageheader--home">
            <app-navbar></app-navbar>
            <app-popular></app-popular>
       </section> <!-- end s-pageheader -->
    <!-- s-content
    ================================================== --> 
      <app-posts></app-posts>
 

   <app-popular-posts></app-popular-posts>
 

    <!-- s-footer
    ================================================== -->
   <app-footer></app-footer>

    <!-- =========================k========================= -->
     <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div> 
</div>  

