
<header class="header">
    <div class="header__content row">

        <div class="header__logo">
            <a class="logo" href="index.html">
                <h1 class="titulo">Aquinomas</h1>
            </a>
        </div> <!-- end header__logo -->

        <ul class="header__social">
            <li>
                <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </li>
        </ul> <!-- end header__social -->

        <a class="header__search-trigger" href="#0"></a>

        <div class="header__search">

            <form role="search" method="get" class="header__search-form" action="#">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>

            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

        </div>  <!-- end header__search -->


        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Site Navigation</h2>

            <ul class="header__nav">
                <li class="current" *ngFor="let menu  of _me.navbar"
               [ngClass]="{'current': !menu.subMenu ,'has-children': menu.subMenu}"
                >
                    <a title="">
                        {{menu.titulo}}
                    </a>
                    <ul class="sub-menu" *ngIf="menu.subMenu" >
                         <li *ngFor="let  submen  of menu.subMenu">
                            <a> {{submen}}</a>
                        </li>
                    </ul>
                    <!-- <li  *ngIf="menu.subMenu" [ngClass]="{'current': !menu.subMenu ,'has-children': menu.subMenu}">
                        <a  title="">{{menu.titulo}}</a>
                    
                    </li> -->
               
                </li>
<!--                 
                <li class="current"><a href="index.html" title="">Home</a></li>
                <li class="has-children">
                    <a href="#0" title="">Categories</a>
                    <ul class="sub-menu">
                    <li><a href="category.html">Lifestyle</a></li>
                    <li><a href="category.html">Health</a></li>
                    <li><a href="category.html">Family</a></li>
                    <li><a href="category.html">Management</a></li>
                    <li><a href="category.html">Travel</a></li>
                    <li><a href="category.html">Work</a></li>
                    </ul>
                </li>
            
                <li><a href="style-guide.html" title="">Styles</a></li>
                <li><a href="about.html" title="">About</a></li>
                <li><a href="contact.html" title="">Contact</a></li> -->
            </ul> <!-- end header__nav -->

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

        </nav> <!-- end header__nav-wrap -->

    </div> <!-- header-content -->
</header> <!-- header -->
