 /* body {
    background: #19191b;
    font-family: "metropolis-regular", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.875;
    color: #656565;
    margin: 0;
    padding: 0;
 } */
html , body {
     box-sizing: border-box;
}
html{
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
 }
 
 /* html.cl-preload .featured {
    opacity: 0;
 }
 
 html.cl-loaded .featured {
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
 
 html.no-csstransitions .featured {
    opacity: 1;
 }
  */ 